.updateuser{
    background-color: black;
    border-radius: 5px;
}
.gender{
color: white;
}

input[type="date"] {
    color: rgb(106, 100, 100);
    font-weight: 100;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(-1);
}
.btn-update{
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 10px #eee;
    border: none;
    border-radius: 10px;
    display: block;
  }

  .btn-update:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }
 .btn-danger{
    background-image: linear-gradient(to right, #7f0808 0%, #da4126  51%, #8a0406  100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    border-radius: 10px;
    padding: 10px 40px;
    box-shadow: 0 0 10px #eee;
 }
 .btn-danger:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
 }