<div class="history">
  <div id="wrapper">

    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid"><br>
          <h1 class="mb-2 text-light">History of User</h1>
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
              <h4 class="m-0 font-weight-bold text-light">Tic-Toe History</h4>

            </div>
            <!-- <button><a routerLink="/dashboard">
              <font color="black">BACK</font>
            </a></button><br> -->
            <div class="container-fluild">
              <table class="table table-bordered" width="100%">
                <thead>
                  <tr>
                    <th>NO</th>
                    <!-- <th>Id</th> -->
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of tic_winner;let i=index">
                    <td>{{i+1}}</td>
                    <!-- <td>{{user.ticid}}</td> -->
                    <td>{{user.message}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid"><br>
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
              <h4 class="m-0 font-weight-bold text-light">Card History</h4>
            </div>
            <!-- <button><a routerLink="/dashboard">
              <font color="black">BACK</font>
            </a></button><br> -->
            <div class="container-fluild">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>NO</th>
                    <!-- <th>Id</th> -->
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of card_winner;let i=index">
                    <td>{{i+1}}</td>
                    <!-- <td>{{user.cardid}}</td> -->
                    <td>{{user.message}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <div class="container-fluid"><br>
          <div class="card shadow mb-4">
            <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
              <h4 class="m-0 font-weight-bold text-light">RandomNumber History</h4>
            </div>
            <!-- <button><a routerLink="/dashboard">
              <font color="black">BACK</font>
            </a></button><br> -->
            <div class="container-fluild">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>NO</th>
                    <!-- <th>Id</th> -->
                    <th>Message</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of number_winner;let i=index">
                    <td>{{i+1}}</td>
                    <!-- <td>{{user.numberid}}</td> -->
                    <td>{{user.message}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>