// .btn {
//     color: white;
//     background-color: purple;
//     margin-left: 30px;
// }

// .box {
//     box-shadow: 0px 0px 7px 0px #d7d5d5;
//     // border-radius: 20px;
//     margin-top:40px;
//     height:317px;
    
// }

// input {
   
//     margin-left: 10px;
//     width: 93%;
//     padding:20px;
// }

// .header{
//     text-align:center;
//     color:purple;
//     padding:15px;
// }

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;
  // width: 100%;
  // background: #4c5bb9;
  // padding: 40px 20px;
  background-image: url(/assets/3513217.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 80px;
    color: white;
}

/* Snow */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  
}



/* Left Side */




/* Right Side */

.right-side {
  padding: 60px;
  background-color: #363da4;
  border-radius: 10px;
}

/* Button Group */

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin-bottom: 32px;
}

.btn-group .btn {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: max-content;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 8px 6px;
  border: 2px solid #6b7280;
  border-radius: 5px;
  background-color: #f6f6f6;
  transform: scale(1);
  cursor: pointer;
  transition: transform 0.1s ease, background-color 0.5s, color 0.5s;
}

.btn-group .btn:focus {
  transform: scale(0.97);
}

.btn-group .btn:hover {
  background-color: #000;
  color: #eee;
}

.btn img {
  width: 16px;
  height: 16px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  border-radius: 50%;
  padding: 2px;
}

/* OR */

.or {
  position: relative;
  text-align: center;
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: 600;
}

.or::before,
.or::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #000;
}

.or::before {
  left: 0;
}

.or::after {
  right: 0;
}

/* Inputs and Labels */

input {
  width: 100%;
  padding: 12px 20px;
  // border: 2px solid #ccc;
  border: 3px solid #4085cb;
  outline: 0;
  border-radius: 5px;
  // background-color: transparent;
  background-color: #363da4;
  margin: 4px 0 18px;
  font-size: 0.85rem;
  font-weight: 600;
  transition: all 0.5s;
  margin-bottom: 35px;
    
    color: white;
    // border-radius: 80px;   
}
input::placeholder{
  color: rgb(229, 225, 225);
}
.login-btn{
  color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #200b5094;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    margin-bottom: 10px;
    width: 100%;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #4c5bb9;
  transition: background-color 5000s ease-in-out 0s;
}

label {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

/* Login Button */



.login-btn:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

/* Links */

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a {
  color: #000;
  font-size: 0.88rem;
  font-weight: 600;
  letter-spacing: -1px;
  transition: all 0.4s ease;
}

a:hover {
  color: rgb(13, 133, 185);
}
