<div class="delete-user">
<div class="modal-header">
    <h5 class="modal-title" id="changepassword">Delete User</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"
        (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    Do you want to delete User?<br />

</div>
<div class="modal-footer">
    <button type="button" class="btn  btn-cancel" data-dismiss="modal"
        (click)="activeModal.close('Close click')">Cancel</button>
    <button type="button" class="btn btn-delete" data-dismiss="modal" (click)="deleteUser()">Delete</button>
</div>
</div>