<ul class="navbar-nav nav-fill bg-primary sidebar sidebar-dark accordion text-white" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <!-- <i class="fas fa-laugh-wink"></i> -->
      <i class="bi bi-emoji-laughing-fill"></i>
    </div>
    <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard">
      <i class="bi bi-speedometer2"></i>&nbsp;
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    INTERFACE
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed pointer"  data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true"
      aria-controls="collapseTwo">
      <i class="bi bi-gear-fill"></i>&nbsp;
      <span>Components</span>
    </a>

    <a class="nav-link collapsed" href="#" routerLink="/users" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
      aria-expanded="true" aria-controls="collapseTwo">
      <i class="bi bi-people-fill"></i>&nbsp;
      <span>Users</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" routerLink="/review" data-bs-toggle="collapse" data-bs-target="#collapseUtilities"
      aria-expanded="true" aria-controls="collapseUtilities">
      <i class="bi bi-yelp"></i>&nbsp;
      <span>Review</span>
    </a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    ADDONS
  </div>

  <!-- Nav Item - Pages Collapse Menu -->
  <li class="nav-item">
    <a class="nav-link collapsed pointer"  data-bs-toggle="collapse" data-bs-target="#collapsePages"
    aria-expanded="true" aria-controls="collapsePages">
    <i class="bi bi-wrench-adjustable"></i>&nbsp;
    <span>Utilities</span>
  </a>

    <a class="nav-link collapsed" routerLink="/mail" data-bs-toggle="collapse" data-bs-target="#collapsePages"
      aria-expanded="true" aria-controls="collapsePages">
      <i class="bi bi-envelope-fill"></i>&nbsp;
      <span>Mail</span>
    </a>
    <a class="nav-link collapsed" href="#" routerLink="/payment" data-bs-toggle="collapse" data-bs-target="#collapsePages"
      aria-expanded="true" aria-controls="collapsePages">
      <i class="bi bi-joystick"></i>&nbsp;
      <span>Payment</span>
    </a>
  </li>

  

  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>