// button {
//     margin: 10px;
//     border: none;
//     border-radius: 12px;
//     box-shadow: 0px 0px 3px 0px rebeccapurple;
//     padding: 10px;
//     margin-top:90px;
// }

.pointer{
    cursor: pointer;
}
.layout-navbar{
    margin-left: 16%;
}
.container-fluid{
    padding-left: 16%;
}