<div class="users">
<nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
  id="layout-navbar">
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
        <input type="text" class="form-control border-0 shadow-none" placeholder="Search..." aria-label="Search..." [(ngModel)]="searchQuery"/>
      </div>
    </div>
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- Place this tag where you want the button to render. -->
      <!-- <li class="nav-item lh-1 me-3">
        <a class="github-button" href="https://github.com/themeselection/sneat-html-admin-template-free"
          data-icon="octicon-star" data-size="large" data-show-count="true"
          aria-label="Star themeselection/sneat-html-admin-template-free on GitHub">Star</a>
      </li> -->

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="../assets/theam/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="#">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img src="../assets/theam/img/avatars/1.png" alt class="w-px-40 h-auto rounded-circle" />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <span class="fw-semibold d-block">John Doe</span>
                  <small class="text-muted">Admin</small>
                </div>
              </div>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="bx bx-user me-2"></i>
              <span class="align-middle">My Profile</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <i class="bx bx-cog me-2"></i>
              <span class="align-middle">Settings</span>
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <span class="d-flex align-items-center align-middle">
                <i class="flex-shrink-0 bx bx-credit-card me-2"></i>
                <span class="flex-grow-1 align-middle">Billing</span>
                <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger w-px-20 h-px-20">4</span>
              </span>
            </a>
          </li>
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="auth-login-basic.html">
              <i class="bx bx-power-off me-2"></i>
              <span class="align-middle">Log Out</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>
<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid">
        <h1>Users</h1>
        <div class="card shadow mb-4">
          <div class="card-header py-3 d-sm-flex align-items-center justify-content-between mb-4">
            <h4 class="col-8 m-0 font-weight-bold text-light">User Detail</h4>
           
            <a class="col-2 btn-add-user d-none d-sm-inline-block btn btn-sm shadow-sm align-item-right"  style="color:white;"
              (click)="openUserModal()"><i class="fas fa-download fa-sm text-white-50" ></i>Add user</a>
              <div class="col-2 excel">
                <button (click)="downloadExcel()">
                <img src="../../assets/theam/img/backgrounds/excel.png" alt="">download</button>
              </div>
           
            
          </div>
          <!-- <button><a routerLink="/dashboard">
              <font color="black">BACK</font>
            </a></button><br> -->
          <div class="container-fluild">
            <table class="table table-bordered table-dark">
              <thead>
                <tr>
                  <th>NO</th>
                  <th>First name</th>
                  <th>Last name</th>
                  <th>Email</th>
                  <th>username</th>
                  <th>Login Date</th>
                  <th>Action</th>
                  <th>Games</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of filteredUsers;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{user.firstname}}</td>
                  <td>{{user.lastname}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.createdDate | date:'dd/MM/yy'}}</td>
                  <td>
                    <!-- <button class="btn btn-danger" data-toggle="modal" data-target="#delete-profile-confirmation"
                      (click)="openDeleteModal(user.id)">delete</button>&nbsp;&nbsp;
                    <button class="btn btn-primary" data-toggle="modal" data-target="#delete-profile-confirmation"
                      (click)="openUpdateUserModal(user)">update</button> -->
                      <i class="bi bi-pencil pointer" (click)="openUpdateUserModal(user)"></i>&nbsp;&nbsp;
                      <i class="bi bi-trash3 pointer" (click)="openDeleteModal(user.id)"></i>
                  </td>
                  <td>
                    <!-- <button class="btn btn-primary" data-toggle="modal" data-target="#delete-profile-confirmation"
                     (click)="openGameHistory(user.id)">View</button> -->
                    <i class="bi bi-clock-history pointer" (click)="openGameHistory(user.id)" title="View Game History"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>