
<div class="dashboard-back">
<div class="container-fluid">
  <div class="first">
  <h1>Dashboard</h1>
  <div class="report_data">
    <div class="row">
      <div class="card">
          <h3>Login User</h3>
          <h4>{{userData.length}}</h4>
      </div>
      <div class="card">
        <h3>Subscription user</h3>
        <h4>{{mailData.length}}</h4>
      </div>
    </div>
    <div class="row">
      <div class="card">
          <h3>User Review</h3>
          <h4>{{reviewData.length}}</h4>
      </div>
      <div class="card">
        <h3>Total Income</h3>
        <h4>{{mailData.length*49}}</h4>
      </div>
    </div>
  </div>
</div>
 
  </div>

 